.aboutMe {
  background-color: rgb(255, 255, 255);
  padding: 30px 0;
}

.aboutMe__block {
  display: flex;
  
}
.aboutMe__block__text {
  display: flex;
  flex-direction: column;
  h1 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 88px;
    margin-bottom: 36.5px;
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    margin-bottom: 36.5px;
    padding-right: 100px;
  }
  p:last-child{
    margin-bottom: 0;
  }
}
.aboutMe__block__photo {
  padding-top: 30px;
  
}
.mePhoto {

}

.mePhotoImg {
}
.contactBlockPhoto {
  margin-top: 25px;
  img{
    margin-right: 20px;
  }
  img:focus{
    cursor: pointer;
  }
}
.contactBlockPhoto:focus{
  cursor: pointer;

}
